.container {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 0;
  width: 250px;
  z-index: 1;
  top: 100%;
  right: 0;
  margin-top: 8px;
  border-radius: 0.5rem;

  > .item {
    cursor: pointer;
    font-size: small;
    padding: 8px 12px;

    &:first-child {
      font-weight: bold;
    }
    &:hover {
      background-color: #ebebeb;
    }
  }
  // 불필요한 css 코드 같으니까, 확인해보고 설정 변경하기
  > .separator {
    // 이거 2개를 제거하고, color만 줘보기, hr자체가 선이다.
    border: none;
    border-top: 1px solid #ebebeb;
    margin: 8px 0;
  }
}
