.container {
  margin: none;
  padding: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASsAAACoCAMAAACPKThEAAAASFBMVEXM7u/O7e/L7+/L7vDR7vG20NHN7fDH5ujO6+7T8vSqx8q/2dzL7O2VsbO719m929y909e72divycmfuLievLqasLGnv8C52NrucHqHAAAAwElEQVR4nO3Vy07DMBQEUE8eTVJCQ1Na/v9PCarENt05iHMk29vR6Oq6FAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgNfl6fnWDgP/V0rTNLVDHF4yJ8NYVLUr3ZBM57dtsGa7fUfeL91y+RiX+dzVznJwzXW9XT/n+3jrdbUn4zZXeSzr9FU7ytE1JUPK3K9TbPcdbdtup/RD/ISvyk9ttUMcXH7vnE51o/w53/NJApECKvtxAAAAAElFTkSuQmCC')
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainBox {
    width: 570px;
    height: 410px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(3, 35, 103, 0.3);

    .title {
      margin-top: 45px;
      margin-bottom: 40px;
      color: #31313d;
      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      text-align: center;
    }

    .inputBox {
      display: grid;
      margin-left: 55px;
      margin-right: 55px;
      width: 460px;
      height: 47px;
      padding: 10px 10px 10px 30px;
      align-items: center;
      gap: 10px;
      border-radius: 24px;
      border: 1px solid #ccc;

      .input {
        font-family: Pretendard;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        border: none;
        outline: none;
        color: black;

        &::placeholder {
          color: #999;
        }
      }
    }

    .passwordInputBox {
      margin-top: 10px;
      margin-left: 55px;
      margin-right: 55px;
      width: 460px;
      height: 47px;
      padding: 10px 10px 10px 30px;
      align-items: center;
      gap: 10px;
      border-radius: 24px;
      border: 1px solid #ccc;

      .passwordInput {
        font-family: Pretendard;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        border: none;
        outline: none;
        color: black;

        &::placeholder {
          color: #999;
        }
      }
    }

    .loginBox {
      margin-top: 20px;
      margin-left: 55px;
      margin-right: 55px;
      display: flex;
      width: 460px;
      height: 47px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 24px;
      background: #31313d;

      .loginText {
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }

    .signUpBox {
      display: flex;
      margin-top: 40px;
      justify-content: center;
      text-align: center;
      gap: 10px;

      .needAccount {
        color: #999;
        font-family: Pretendard;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
      .signUpText {
        color: #31313d;
        font-family: Pretendard;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .mainBox {
      width: 300px;
      margin-left: 30px;
      margin-right: 30px;

      .title {
        color: #31313d;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
      }

      .inputBox {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        width: 240px;
        height: 30px;
        padding: 10px 10px 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        border: 1px solid #ccc;

        .input {
          color: #000;
          font-family: Pretendard;
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 16.5px */
        }
      }

      .passwordInputBox {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        width: 240px;
        height: 30px;
        padding: 10px 10px 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        border: 1px solid #ccc;

        .passwordInput {
          color: #000;
          font-family: Pretendard;
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 16.5px */
        }
      }

      .loginBox {
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        width: 240px;
        height: 30px;
        padding: 10px 10px 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        border: 1px solid #ccc;
        .loginText {
          color: #fff;
          text-align: center;
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }

      .signUpBox {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        text-align: center;
        gap: 10px;

        .needAccount {
          color: #999;
          font-family: Pretendard;
          font-size: 17px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
        .signUpText {
          color: #31313d;
          font-family: Pretendard;
          font-size: 17px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }
  }
}
