.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 100%;
  text-align: start;
  margin-top: 5px;
  margin-bottom: 10px;
}

.submenu {
  font-weight: 600;
}
